<!-- <router-outlet /> -->

<form>
    <!-- <div style="grid-row: auto;display: flex;grid-template-columns: repeat(3, 1fr);">
        <div>
            <label class="label" style="display:flex">field-1</label>
            <input type="text" name="field-1" />
        </div>
        <div>
            <label style="display:flex">field-2</label>
            <input type="text" name="field-2" />
        </div>
        <div>
            <label style="display:flex">field-3</label>
            <input type="text" name="field-3" />
        </div>
    </div> -->

    <div style="display: flex;flex-direction:row">
        <div style="display: flex;flex-direction:column;flex-grow: 6;gap:5%">
            <label>field-4</label>
            <input type="text" name="field-4" />
            <h4 style="display:block;color:red;margin:0">FIELD REQUIRED</h4>
        </div>
        <div style="display: flex;flex-direction:column;flex-grow: 6">
            <label>field-5</label>
            <input type="text" name="field-5" />
            <h4 style="display:block;color:red;margin:0">FIELD REQUIRED</h4>
        </div>
    </div>

    <button style="float:right">submit</button>
</form>